<div class="search_bar input-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search Items"
    aria-label="Search Items"
    aria-describedby="button-addon2"
    [(ngModel)]="titleSearch"
  />
  <button class="btn btn-outline-primary" type="button" id="button-addon2">
    <i class="bi bi-search"></i>
  </button>
</div>
@if(isLoading && !(allProducts | filterData : titleSearch).length){
<div class="spinner-border text-primary mb-3" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
} @if(!isLoading && (allProducts | filterData : titleSearch).length){
<div class="cards">
  <div
    class="card"
    *ngFor="
      let item of allProducts | filterData : titleSearch | orderBy : sortBy;
      let i = index
    "
  >
    <!-- using latest angular features in v19 -->
    <!-- this image will load , if image is in viewport of clients screen -->
    <!-- you can check ( network tab in dev tool ) initially images are loaded which is inside viewport of cleints screen -->
    @defer(on viewport){
    <img [src]="item.image" [alt]="item.title" class="card-img-top" />
    }@placeholder(minimum 500ms) {
    <span class="placeholder" style="height: 180px">ईmage</span>
    }
    <div class="card-body">
      <!-- i have kept title and description maximum 2 lines ( for better ui design ) and after that ellipses are added at end of string  -->
      <h5 class="mb-1 card-title text-ellipses fw-semibold" title="{{ item.title }}">
        {{ item.title }}
      </h5>
      <div class="star-ratings d-flex gap-1 align-items-center">
        <span>{{ item.rating.rate }}</span>
        <app-star-rating
          [rating]="item.rating.rate"
          [title]="item.rating.rate"
        ></app-star-rating>
        <span>{{ item.rating.count }} ratings</span>
      </div>
      <p class="card-text text-ellipses">
        {{ item.description }}
      </p>
      <p class="card-text fs-4 pb-3 fw-semibold" style="margin: auto 0 0 0">
        {{ item.price | currency }}
      </p>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary">
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</div>
} @if(!isLoading && !(allProducts | filterData : titleSearch).length){
<p class="text-center">No Products Found</p>
}
